.postingList {
  display: flex;
  flex-direction: column;
}

.form {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form textarea {
  width: 100%;
  height: 25px;
  resize: none;
}

.form p {
  width: 175px;
  margin: 0;
}

.listings {
  width: 1300px;
  margin: auto;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid transparent;
  padding-left: 20px;
}

.listings:hover {
  border: 1px solid #ccc;
}

textarea {
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}
